header {
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 2em;
  text-align: center;
}

.role-title{
  text-align: center;
}

.footer {
  margin-top: "20px";
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
}